.fila-de-elementos-categoricos-container{
    border: 4px solid rgb(18, 18, 19);
    text-align: center;
    font-weight: bold;
    margin-bottom: 12px;
    margin-top: 10px;
    border-radius: 10px;
    width:80%;
    /*este es el color de fondo de los componentes*/
    background: rgb(0, 0, 250);
    background: linear-gradient(500deg, rgb(58, 112, 226) 10%, rgb(211, 211, 49) 35%, rgb(238, 16, 127) 100%);
  
    




}


   


