.fila-de-productos-container{
    border: 2px solid rgb(12, 12, 12);
    text-align: left;
    width: 70%;
    
    margin-bottom: 12px;
    margin-top: 10px;
    border-radius: 10px;
    background: rgb(0, 0, 250);
    background: linear-gradient(500deg, rgb(241, 17, 230) 10%, rgb(233, 233, 227) 35%, rgba(51, 224, 230, 0.877) 100%);

    }
    .estudiantes{
        color: rgb(38, 0, 255);
    }
    
    .genero{
        color: rgb(3, 145, 3);
    
    }

    
    .leave-a-note{
        color: red;
    }
  
    
  
   
      
       
       
   
    
    
    
  

    

    
        
        
      
        

    



   


