.fila-de-productos-container{
    border: 2px solid rgb(12, 12, 12);
    text-align: left;
    width: 70%;
    
    margin-bottom: 12px;
    margin-top: 10px;
    border-radius: 10px;
    
  
    }
    .leave-a-note{
        color: red;
    }
    .generof{

        
        background-image:url( "https://static8.depositphotos.com/1009919/1040/v/950/depositphotos_10405378-stock-illustration-business-career-woman-isolated-on.jpg" data-noaft="1" jsname="HiaYvf" jsaction="load:XAeZkd;" style="width: 383px; height: 441.161px; margin: 0px;">)
    
    }
    
    
  

    

    
        
        
      
        

    



   


